# API
API_PORT=8787

# Fly.io / production
# DATABASE_URL=postgres://user:password@host:5432/database

# PostgreSQL local
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=postgres
PGPOOL_MAX=10
